streamlit
openai
pydub
PyMuPDF
torch
pandas
python-dotenv
resemblyzer
numpy
pathlib
zipfile36
subprocess32
openpyxl
langchain>=0.1.0
langchain-openai
faiss-cpu
tiktoken
textstat
python-docx
python-pptx
setuptools<80